package com.prasad.fixture.url_shortener.analytics;

import org.springframework.context.annotation.Configuration;
import org.springframework.web.servlet.config.annotation.InterceptorRegistry;
import org.springframework.web.servlet.config.annotation.WebMvcConfigurer;

@Configuration
public class AnalyticsWebConfiguration
        implements WebMvcConfigurer {

    private final RedirectAnalyticsInterceptor interceptor;

    public AnalyticsWebConfiguration(
            RedirectAnalyticsInterceptor interceptor
    ) {
        this.interceptor = interceptor;
    }

    @Override
    public void addInterceptors(
            InterceptorRegistry registry
    ) {
        registry.addInterceptor(interceptor)
                .addPathPatterns("/*")
                .excludePathPatterns(
                        "/api/**",
                        "/error"
                );
    }
}