package com.prasad.fixture.url_shortener.analytics;

import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

@RestController
@RequestMapping(
        "/api/v1/urls/{shortCode}/analytics"
)
public class RedirectAnalyticsController {

    private final RedirectAnalyticsService service;

    public RedirectAnalyticsController(
            RedirectAnalyticsService service
    ) {
        this.service = service;
    }

    @GetMapping
    public RedirectAnalyticsResponse get(
            @PathVariable
            String shortCode
    ) {
        return service.analytics(shortCode);
    }
}